# Use Unicode characters in the package tree output
unicode = true

# Depth when recursing directories for various commands
depth = 0

# Defaults when initialising a package
init-author-email = o.chambers2@gmail.com
init-author-name = Oliver Chambers
init-author-url = https://github.com/VersBersh
init-license = MIT
init-version = 0.0.1

# vim: syntax=conf cc=80 tw=79 ts=4 sw=4 sts=4 et sr
